@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to Hell @(Model.User != null ? Model.User.UserName : "")</p>
    <hr/>
    <h6>Currently playing: @Main.Hubs.ServerHub.ConnectionToUserMap.Count</h6>
    @foreach (var user in Main.Hubs.ServerHub.ConnectionToUserMap.Values) {
        <div><b>@user.UserName</b> @(Game.Matchmaking.Handler.IsWaiting(user) ? "(matchmaking)" : "")</div>
    }
</div>
